<!DOCTYPE html>
<html>
  <head>
    <title>Food Ordering System</title>
    <link rel="stylesheet" type="text/css" href="css/mainmenu.css" />
  </head>

  <body>
    <div class="PageHeader" id="PageHeader">
      <div class="PageHeaderGreetingText" id="PageHeaderGreetingText">
        Welcome back, Mr.A
      </div>
    </div>
    <div class="PageBody" id="PageBody">
      <div class="First Store" id="FirstStore">
        <div class="StoreHeader">
          <div class="StoreName" id="FirstStoreName">Padthai kungsod</div>
        </div>
        <div class="FC">
          <div class="Food Container" id="FoodContainer">
            <div class="Food Item">
                <img src="/image/Padthai.jpg" class="FoodImage" />
                <div class="FoodName">
                    Padthai
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/js/mainmenu.js"></script>
</html>
